/**
* @package Graph
* @author Babajide Ibiayo
* @author_email babajideibiayo@yahoo.com
* @version 1.0
*
* This script provides custom extensions and graphing functions for the iniLibs School Apps using Chart.js

**/

/* Style sheet for Graphs.js */

header.title{
	display:inline-block;
	background: rgb(255, 108, 96) none repeat scroll 0% 0%;
	padding:0 5px;
	color: #fff;
	
}
.legend{
	display:block;
}
a.box-container{
	display:block;
	text-decoration: none;
	z-index: 10;
	margin-bottom:10px;
}
p.percent{
	position:relative;
	display:block;
	margin: -15px;
	padding: 0px;
	color: #084D5F;
	top: 3.5em;
	
}

p.percent .pvalue{
	font-size: 1.3em;
	font-weight: 600;
}
.small-text{
	display:block;
	font-size: 0.75em;
	color: rgb(162, 153, 153);
}
.chart-on-canvas{
	margin-bottom: 10px;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

ul.doughnut-legend {

}

ul.doughnut-legend li, ul.bar-legend li{
	list-style: none;
	padding-bottom: 5px;
}
.stuff{
	background:#ff0;
}
.subtitle{
	padding: 15px;
	margin-left: 25px;
	font-weight: 800;
	background: #FF6C60;
	color: rgb(255, 255, 255);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.42) !important;
}
.box-border{
	border: 1px solid #eee;
}
.headings{
	display:inline-block;
	padding-right: 25px;

}
.amount-legend{
	display:inline-block;
}